<header class="main-header">
  <div class="logo">
    <a href="../">Conversor Universal</a>
  </div>
  <nav class="main-nav">
    <ul class="nav-list">
      <li class="dropdown">
        <span class="nav-trigger">Imagens ▼</span>
        <ul class="dropdown-menu">
          <li>
            <a class="nav-link" href="pages/image-converter.html"
              >Converter Formato</a
            >
          </li>
          <li>
            <a class="nav-link" href="pages/image-resizer.html"
              >Cortar e Redimensionar</a
            >
          </li>
          <li>
            <a class="nav-link" href="pages/image-watermark.html"
              >Adicionar Marca d'Água</a
            >
          </li>
          <li>
            <a class="nav-link" href="pages/color-picker.html">Color Picker</a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <span class="nav-trigger">Áudio ▼</span>
        <ul class="dropdown-menu">
          <li>
            <a class="nav-link" href="pages/audio-cutter.html"
              >Cortador de Áudio</a
            >
          </li>
          <li>
            <a class="nav-link" href="pages/audio-converter.html"
              >Conversor de Áudio</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
